---
name: 'commitlint'
on:  # yamllint disable-line rule:truthy
  push: {}
  pull_request: {}

permissions:
  contents: 'read'

jobs:
  commitlint:
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2' # v2.13.3
        with:
          egress-policy: 'block'
          allowed-endpoints: >
            github.com:443
            nodejs.org:443
            registry.npmjs.org:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1
        with:
          fetch-depth: 0

      - name: 'Install NodeJS'
        uses: 'actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f' # v6.1.0
        with:
          # renovate dep: datasource=npm depName=node
          node-version: '24.11.1'

      - name: 'Install commitlint'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          # renovate: datasource=npm
          npm install conventional-changelog-conventionalcommits@9.1.0
          # renovate: datasource=npm
          npm install commitlint@20.1.0
          # renovate: datasource=npm
          npm install commitlint-plugin-selective-scope@1.0.1

      - name: 'Validate current commit (last commit) with commitlint'
        if: "github.event_name == 'push'"
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          npx commitlint --last --verbose

      - name: 'Validate pull request commits with commitlint'
        if: "github.event_name == 'pull_request'"
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          npx commitlint --from \
            ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} \
            --to ${{ github.event.pull_request.head.sha }} --verbose
...
