---
name: 'Dependency Review'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'

permissions:
  contents: 'read'

jobs:
  dependency-review:
    name: 'Dependency Review'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
      pull-requests: 'write'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          disable-sudo: true
          egress-policy: 'block'
          allowed-endpoints: >
            api.github.com:443
            api.securityscorecards.dev:443
            github.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1

      - name: 'Dependency Review'
        uses: 'actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261' # v4.8.2
        with:
          config-file: './.github/dependency-review-config.yml'
...
