---
name: 'Dependency Review'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'

permissions:
  contents: 'read'

jobs:
  dependency-review:
    name: 'Dependency Review'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
      pull-requests: 'write'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2' # v2.13.2
        with:
          disable-sudo: true
          egress-policy: 'block'
          allowed-endpoints: >
            api.github.com:443
            api.securityscorecards.dev:443
            github.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8' # v5.0.0

      - name: 'Dependency Review'
        uses: 'actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261' # v4.8.2
        with:
          config-file: './.github/dependency-review-config.yml'
...
