---
name: 'Docs image build'
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - 'main'
    paths:
      - 'docs/Containerfile'
      - 'docs/Gemfile'
      - 'docs/Gemfile.lock'
      - '.github/workflows/docs_image.yml'

  pull_request:
    branches:
      - 'main'
    paths:
      - 'docs/Containerfile'
      - 'docs/Gemfile'
      - 'docs/Gemfile.lock'
      - '.github/workflows/docs_image.yml'

  workflow_call: {}
  workflow_dispatch: {}

permissions:
  contents: 'read'

concurrency:
  group: 'ci-${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: false

env:
  # gitleaks image to use to check files prior to uploading them to prevent sensitive data being leaked
  # yamllint disable rule:line-length
  # renovate image dep:
  gitleaks-image: 'ghcr.io/gitleaks/gitleaks:v8.30.0@sha256:691af3c7c5a48b16f187ce3446d5f194838f91238f27270ed36eef6359a574d9'
  # yamllint enable rule:line-length

jobs:
  check-user-permissions:
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    outputs:
      require-result: '${{ steps.check-access.outputs.require-result }}'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          egress-policy: 'block'
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - name: 'Get User Permissions'
        id: 'check-access'
        uses: 'actions-cool/check-user-permission@7b90a27f92f3961b368376107661682c441f6103' # v2.3.0
        with:
          require: 'write'
          username: '${{ github.triggering_actor }}'
        env:
          GITHUB_TOKEN: '${{ secrets.token }}'

      - name: 'Check User Permission'
        if: "steps.check-access.outputs.require-result == 'false'"
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };
          echo "${{ github.triggering_actor }} does not have permissions on this repo."
          echo "Current permission level is ${{ steps.check-access.outputs.user-permission }}"
          echo "Job originally triggered by ${{ github.actor }}"

  prepare-vars:
    name: 'Prepare variables for building the container image'
    if: "needs.check-user-permissions.outputs.require-result == 'true'"
    needs: 'check-user-permissions'
    runs-on: 'ubuntu-24.04'
    container:
      # yamllint disable-line rule:line-length
      image: 'registry.access.redhat.com/ubi9/podman:9.7-1764822628@sha256:be23f25cc4b8cf4b0c660c71ba896aaea928442d74f3368a076edfd7e8940064'
      options: '--privileged'
    outputs:
      repository-name: '${{ steps.prepare-vars.outputs.repository-name }}'
      image-name: '${{ steps.prepare-vars.outputs.image-name }}'
      next-version: '${{ steps.prepare-vars.outputs.next-version }}'
      current-version: '${{ steps.prepare-vars.outputs.current-version }}'
    steps:
      - name: 'Prepare variables for building the image'
        id: 'prepare-vars'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          declare -r repositoryName="$(echo "${{ github.repository }}" | awk -F '/' '{print $2}')"
          echo "Info: Defined repository name: ${repositoryName}"
          echo "repository-name=${repositoryName}" >> "${GITHUB_OUTPUT}"

          declare -r imageName="ghcr.io/${{ github.repository_owner }}/${repositoryName}-jekyll"
          echo "Info: Defined image name: ${imageName}"
          echo "image-name=${imageName}" >> "${GITHUB_OUTPUT}"

          #
          # prepare a CalVer release version
          #

          # current month with a removed prefixed zero (e.g. 1, 4, 10 etc)
          declare -r month="$(date +'%m' | sed 's/^0//')"

          # current two digit year (eg. 24)
          declare -r year="$(date +'%y')"

          # current base version with a prefixed v (e.g. v24.8, v23,12, etc)
          declare -r baseVersion="v${year}.${month}"

          # regular expression for tags to filter/ignore
          declare -r ignoreTags="^(latest|buildcache)$|^sha([[:digit:]]+?)?-"

          # podman arguments to search for tags
          declare -ra podmanArguments=(
            "search"
            "--list-tags"
            "--no-trunc"
            "--limit"
            "999999"
            "--format"
            "{{.Tag}}"
            "${imageName}"
          )

          # check whether there has been a release this month
          #
          declare highestVersion=""
          if podman "${podmanArguments[@]}" | grep -vE "${ignoreTags}" | grep -q "${baseVersion}"; then

            # sort the versions with the highest showing first and select it
            highestVersion="$(podman "${podmanArguments[@]}" | sort -Vr | head -n1)"
            [[ "${highestVersion}" =~ ^v([[:digit:]]+)\.([[:digit:]]+)\.([[:digit:]]+)$ ]] || {
              echo "ERROR: Unable to detect highest version from string '${highestVersion}'";
              exit 1;
            };

            # extract current patch version and increment it by one (e.g. 24.8.1 -> 24.8.2, etc.)
            patchVersion="${BASH_REMATCH[3]}"
            nextPatchVersion="$((patchVersion+1))"
            nextVersion="${baseVersion}.${nextPatchVersion}"
          else
            # no version found for this month, creating the first (e.g. v24.8.0)
            nextVersion="${baseVersion}.0"
          fi

          echo "INFO: Current version of image: ${highestVersion}"
          echo "current-version=${highestVersion}" >> "${GITHUB_OUTPUT}"

          echo "INFO: Next version for image: ${nextVersion}"
          echo "next-version=${nextVersion}" >> "${GITHUB_OUTPUT}"

  build-docs-image:
    name: 'Build docs image'
    if: "needs.check-user-permissions.outputs.require-result == 'true'"
    needs:
      - 'check-user-permissions'
      - 'prepare-vars'
    runs-on: 'ubuntu-24.04'
    permissions:
      attestations: 'write'
      id-token: 'write'
      packages: 'write'
      security-events: 'write'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          egress-policy: 'block'
          allowed-endpoints: >
            *.cloudfront.net
            api.github.com:443
            auth.docker.io:443
            dl-cdn.alpinelinux.org:443
            fulcio.sigstore.dev:443
            ghcr.io:443
            github.com:443
            index.rubygems.org:443
            objects.githubusercontent.com:443
            pkg-containers.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            production.cloudflare.docker.com:443
            public.ecr.aws:443
            registry-1.docker.io:443
            rekor.sigstore.dev:443
            rubygems.org:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: 'Extract repository metadata'
        id: 'metadata'
        uses: 'docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051' # v5.10.0
        with:
          context: 'git'
          flavor: |
            latest=true

          images: |
            name=${{ needs.prepare-vars.outputs.image-name }},enable=true

          tags: |
            type=sha,format=long,enable=true
            type=raw,${{ needs.prepare-vars.outputs.next-version }}

          labels: |
            org.opencontainers.image.description=Build documentation using Jekyl
            org.opencontainers.image.title=jekyll-build

          annotations: |
            org.opencontainers.image.description=Build documentation using Jekyl
            org.opencontainers.image.title=jekyll-build

      - name: 'Login to ghcr.io'
        uses: 'docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef' # v3.6.0
        with:
          registry: 'ghcr.io/${{ github.repository_owner }}'
          username: '${{ github.repository_owner }}'
          password: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Set Up Docker Buildx'
        uses: 'docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435' # v3.11.1

      - name: 'Test build of the image'
        uses: 'docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83' # v6.18.0
        with:
          annotations: '${{ steps.metadata.outputs.annotations }}'
          cache-from: 'type=registry,ref=${{ needs.prepare-vars.outputs.image-name }}:buildcache'
          context: './docs'
          file: './docs/Containerfile'
          labels: '${{ steps.metadata.outputs.labels }}'
          load: true
          push: false
          tags: '${{ needs.prepare-vars.outputs.image-name }}:test'

      - name: 'Scan ${{ needs.prepare-vars.outputs.image-name }}:test with Trivy'
        uses: 'aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8' # 0.33.1
        env:
          TRIVY_DB_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-db'
          TRIVY_JAVA_DB_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-java-db'
          TRIVY_CHECKS_BUNDLE_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-checks'
        with:
          format: 'sarif'
          image-ref: '${{ needs.prepare-vars.outputs.image-name }}:test'
          output: 'trivy-results-test-${{ needs.prepare-vars.outputs.next-version }}.sarif'
          trivy-config: 'trivy.yaml'
          scan-type: 'image'

      - name: >-
          Scan trivy-results-test-${{ needs.prepare-vars.outputs.next-version }}.sarif to ensure it contains no secrets
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          docker run -v "./trivy-results-test-${{ needs.prepare-vars.outputs.next-version }}.sarif:/scan" \
            "${{ env.gitleaks-image }}" detect --source "/scan" --no-git || {
              echo "ERROR: Secret found, failing workflow";
              exit 1;
          };

      - name: 'Upload artifact'
        uses: 'actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f' # v6.0.0
        with:
          name: >-
            Trivy scan test build of ${{ needs.prepare-vars.outputs.repository-name }}-jekyll
            ${{ needs.prepare-vars.outputs.next-version }}
          path: 'trivy-results-test-${{ needs.prepare-vars.outputs.next-version }}.sarif'
          retention-days: 5

      - name: 'Upload to code-scanning'
        uses: 'github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7' # v4.31.9
        with:
          sarif_file: 'trivy-results-test-${{ needs.prepare-vars.outputs.next-version }}.sarif'
          category: 'Trivy-scan-test-image'

      - name: 'Build and push image'
        if: "${{ github.event_name != 'pull_request' }}"
        uses: 'docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83' # v6.18.0
        id: 'build-push'
        with:
          annotations: '${{ steps.metadata.outputs.annotations }}'
          cache-from: 'type=registry,ref=${{ needs.prepare-vars.outputs.image-name }}:buildcache'
          cache-to: 'type=registry,ref=${{ needs.prepare-vars.outputs.image-name }}:buildcache,mode=max'
          context: './docs'
          file: './docs/Containerfile'
          labels: '${{ steps.metadata.outputs.labels }}'
          push: true
          sbom: true
          tags: '${{ steps.metadata.outputs.tags }}'

      - name: 'Generate artifact attestation'
        if: "${{ github.event_name != 'pull_request' }}"
        uses: 'actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a' # v3.0.0
        with:
          subject-name: '${{ needs.prepare-vars.outputs.image-name }}'
          subject-digest: '${{ steps.build-push.outputs.digest }}'
          push-to-registry: true

      - name: >-
          Scan ${{ needs.prepare-vars.outputs.image-name }}:${{ needs.prepare-vars.outputs.next-version }} with Trivy
        if: "${{ github.event_name != 'pull_request' }}"
        uses: 'aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8' # 0.33.1
        env:
          TRIVY_DB_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-db'
          TRIVY_JAVA_DB_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-java-db'
          TRIVY_CHECKS_BUNDLE_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-checks'
        with:
          format: 'sarif'
          image-ref: '${{ needs.prepare-vars.outputs.image-name }}:${{ needs.prepare-vars.outputs.next-version }}'
          output: 'trivy-results-${{ needs.prepare-vars.outputs.next-version }}.sarif'
          trivy-config: 'trivy.yaml'
          scan-type: 'image'

      - name: >-
          Scan trivy-results-test-${{ needs.prepare-vars.outputs.next-version }}.sarif to ensure it contains no secrets
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          docker run -v "./trivy-results-test-${{ needs.prepare-vars.outputs.next-version }}.sarif:/scan" \
            "${{ env.gitleaks-image }}" detect --source "/scan" --no-git || {
              echo "ERROR: Secret found, failing workflow";
              exit 1;
          };

      - name: 'Upload artifact'
        if: "${{ github.event_name != 'pull_request' }}"
        uses: 'actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f' # v6.0.0
        with:
          name: 'Trivy scan of ${{ needs.prepare-vars.outputs.next-version }}'
          path: 'trivy-results-${{ needs.prepare-vars.outputs.next-version }}.sarif'
          retention-days: 5

      - name: 'Upload to code-scanning'
        if: "${{ github.event_name != 'pull_request' }}"
        uses: 'github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7' # v4.31.9
        with:
          sarif_file: 'trivy-results-${{ needs.prepare-vars.outputs.next-version }}.sarif'
          category: 'Trivy-scan-final-image'
...
