---
name: 'GitHub pages deployment'
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - 'main'

    paths:
      - 'docs/**.md'
      - '.github/workflows/github_pages.yml'

  pull_request:
    branches:
      - 'main'

    paths:
      - 'docs/**.md'
      - '.github/workflows/github_pages.yml'

  workflow_dispatch: {}

permissions:
  contents: 'read'

concurrency:
  group: 'ci-${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: false

env:
  # Jekyll image to use
  # yamllint disable rule:line-length
  # renovate image dep:
  jekyll-image: 'ghcr.io/sscheib/ansible-role-file_deployment-jekyll:v25.11.13@sha256:ef05f69f2cef2a38477688e62631b3f95a41a9ed6d92122e9a341ed6b5c5878b'
  # yamllint enable rule:line-length

  # gitleaks image to use to check files prior to uploading them to prevent sensitive data being leaked
  # yamllint disable rule:line-length
  # renovate image dep:
  gitleaks-image: 'ghcr.io/gitleaks/gitleaks:v8.29.1@sha256:aa036a2f4bdfe3cc3c55fa4326308efabb4a6be498c883c864fd1d0d5585438a'
  # yamllint enable rule:line-length

jobs:
  build:
    name: 'Build documentation'
    runs-on: 'ubuntu-24.04'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2' # v2.13.2
        with:
          egress-policy: 'block'
          allowed-endpoints: >
            api.github.com:443
            ghcr.io:443
            github.com:443
            pkg-containers.githubusercontent.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd' # v5.0.1

      - name: 'Build Jekyll site'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          # create _site directory with correct permissions
          mkdir "./docs/_site" && \
          sudo chown -R 1000:1000 "./docs/_site"

          # ensure Gemfile and Gemfile.lock have the correct permissions
          sudo chown 1000:1000 "./docs/Gemfile" "./docs/Gemfile.lock"

          # build documentation
          docker run --rm --volume "./docs:/srv/jekyll" "${{ env.jekyll-image }}" \
            bundler exec jekyll build --disable-disk-cache

      - name: 'Scan site directory to ensure it contains no secrets prior to uploading'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          docker run -v "./docs/_site:/scan" "${{ env.gitleaks-image }}" detect --source "/scan" --no-git || {
            echo "ERROR: Secret found, failing workflow";
            exit 1;
          };

      - name: 'Upload artifact to pass the build to the deploy job'
        if: "${{ github.event_name != 'pull_request' }}"
        uses: 'actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4' # v5.0.0
        with:
          name: 'jekyll-artifact'
          overwrite: true
          path: './docs/_site/'
          retention-days: 1

  deploy:
    name: 'Deploy documentation to GitHub Pages'
    if: "${{ github.event_name != 'pull_request' }}"
    needs: 'build'
    runs-on: 'ubuntu-24.04'
    permissions:
      id-token: 'write'
      pages: 'write'
    environment:
      name: 'github-pages'
      url: '${{ steps.pages-info.outputs.page_url }}'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2' # v2.13.2
        with:
          egress-policy: 'block'
          allowed-endpoints: >
            api.github.com:443
            ghcr.io:443
            github.com:443
            pkg-containers.githubusercontent.com:443

      - name: 'Download build artifact'
        uses: 'actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53' # v6.0.0
        with:
          name: 'jekyll-artifact'
          path: './docs/_site/'

      - name: 'Gather information about the GitHub pages deployment'
        uses: 'actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b' # v5.0.0
        id: 'pages-info'
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          enablement: false

      - name: 'Scan site directory to ensure it contains no secrets prior to uploading'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          docker run -v "./docs/_site:/scan" "${{ env.gitleaks-image }}" detect --source "/scan" --no-git || {
            echo "ERROR: Secret found, failing workflow";
            exit 1;
          };

      - name: 'Upload GitHub pages artifact'
        uses: 'actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b' # v4.0.0
        with:
          name: 'github-pages'
          path: './docs/_site'
          retention-days: 1

      - name: 'Deploy GitHub pages'
        uses: 'actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e' # v4.0.5
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          artifact_name: 'github-pages'
...
