---
name: 'gitleaks'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'
  push: {}
  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  gitleaks:
    name: 'gitleaks'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          egress-policy: 'block'
          disable-sudo: true
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1
        with:
          fetch-depth: 0

      - name: 'Run gitleaks'
        uses: 'gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7' # v2.3.9
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
...
