---
name: 'gitleaks'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'
  push: {}
  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  gitleaks:
    name: 'gitleaks'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2' # v2.13.2
        with:
          egress-policy: 'block'
          disable-sudo: true
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8' # v5.0.0
        with:
          fetch-depth: 0

      - name: 'Run gitleaks'
        uses: 'gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7' # v2.3.9
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
...
