---
name: 'hadolint'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'
    paths:
      - 'docs/Containerfile'

  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  hadolint:
    name: 'hadolint'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2' # v2.13.3
        with:
          egress-policy: 'block'
          disable-sudo: true
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3' # v6.0.0
        with:
          fetch-depth: 0

      - name: 'Run hadolint'
        uses: 'hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5' # v3.3.0
        with:
          config: './.hadolint.yaml'
          dockerfile: 'docs/Containerfile'
          verbose: true
...
