---
name: 'markdownlint'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'
    paths:
      - '**.md'
      - '.github/workflows/markdownlint.yml'

  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  build:
    name: 'markdownlint'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2' # v2.13.2
        with:
          egress-policy: 'block'
          disable-sudo: true
          allowed-endpoints: >
            github.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3' # v6.0.0

      - name: 'Run markdownlint'
        uses: 'nosborn/github-action-markdown-cli@508d6cefd8f0cc99eab5d2d4685b1d5f470042c1' # v3.5.0
        with:
          files: '*.md'
          config_file: '.markdownlint.yml'
          dot: false
...
