---
name: 'markdown link check'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'
    paths:
      - '**.md'
      - '.github/workflows/markdown-link-check.yml'

  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  build:
    name: 'markdown-link-check'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          egress-policy: 'audit'
          disable-sudo: true

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1

      - name: 'Run markdown-link-check'
        uses: 'gaurav-nelson/github-action-markdown-link-check@3c3b66f1f7d0900e37b71eca45b63ea9eedfce31' # 1.0.17
        with:
          folder-path: './'
          config-file: '.markdown-link-check.json'
...
