---
name: 'pyspelling'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'

  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  pyspelling:
    name: 'pyspelling'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2' # v2.13.3
        with:
          egress-policy: 'block'
          disable-sudo: true
          allowed-endpoints: >
            github.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1

      - name: 'Run pyspelling'
        uses: 'rojopolis/spellcheck-github-actions@16d0338a5a3b5e3111a078029fb9a07a8125053d' # 0.55.0
        with:
          config_path: '.github/spellcheck/spellcheck.yml'
...
