---
name: 'pyspelling'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'

  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  pyspelling:
    name: 'pyspelling'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          egress-policy: 'block'
          disable-sudo: true
          allowed-endpoints: >
            github.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1

      - name: 'Run pyspelling'
        uses: 'rojopolis/spellcheck-github-actions@cebe06444da3ac5e9d3146f5f02a0e2a236f7488' # 0.56.0
        with:
          config_path: '.github/spellcheck/spellcheck.yml'
...
