---
name: 'Renovate configuration check'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'

    paths:
      - '.github/workflows/renovate.yml'
      - '.github/workflows/renovate_configuration_check.yml'
      - '.github/renovate.json5'
      - '.github/renovate_global.js'

  workflow_dispatch: {}
  workflow_call: {}

permissions:
  contents: 'read'

concurrency:
  group: 'ci-config-check-${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: false

env:
  # renovate image to check the configuration file
  # yamllint disable rule:line-length
  # renovate image dep:
  renovate-image: 'ghcr.io/renovatebot/renovate:42.52.6@sha256:134048696f1e4e12d3f71da592b06e55c502ecbf007050461267ae1f9b8d102b'
  # yamllint enable rule:line-length


jobs:
  validate-renovate-configuration:
    name: 'Validate renovate configuration'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          disable-sudo: true
          egress-policy: 'block'
          allowed-endpoints: >
            api.github.com:443
            ghcr.io:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            pkg-containers.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            registry.npmjs.org:443
            rubygems.org:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1

      - name: 'Install renovate and run renovate-config-validator'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          docker run --rm -v "${{ github.workspace }}:/mnt" -w "/mnt" "${{ env.renovate-image }}" \
            renovate-config-validator --strict || {
              echo "ERROR: Renovate configuration check failed, failing workflow!";
              exit 1;
          };
...
