---
# Note: Scorecard does not allow running jobs in BASH, therefore the sarif file is uploaded unchecked, see
# https://github.com/ossf/scorecard-action#workflow-restrictions

name: 'Scorecard'
on:  # yamllint disable-line rule:truthy
  # For Branch-Protection check. Only the default branch is supported. See
  # https://github.com/ossf/scorecard/blob/main/docs/checks.md#branch-protection
  branch_protection_rule: {}
  # To guarantee Maintained check is occasionally updated. See
  # https://github.com/ossf/scorecard/blob/main/docs/checks.md#maintained
  schedule:
    - cron: '43 17 * * 4'
  push:
    branches:
      - 'main'

  workflow_dispatch: {}

# Declare default permissions as read only.
permissions: 'read-all'

jobs:
  check-secrets:
    name: 'Check if required secrets are available'
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
    outputs:
      secrets-defined: '${{ steps.secret-check.outputs.secrets-defined }}'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          disable-sudo: true
          egress-policy: 'block'

      - name: 'Check if all required secrets are defined'
        id: 'secret-check'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          [[ "${{ secrets.SCORECARD_TOKEN }}" != '' ]] || {
            echo "secrets-defined=false" >> "${GITHUB_OUTPUT}";
            exit 0;
          };

          # secrets not empty, so assuming defined
          echo "secrets-defined=true" >> "${GITHUB_OUTPUT}";

  analysis:
    name: 'Scorecard analysis'
    if: "needs.check-secrets.outputs.secrets-defined == 'true'"
    needs: 'check-secrets'
    runs-on: 'ubuntu-24.04'
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: 'write'
      # Needed to publish results and get a badge (see publish_results below).
      id-token: 'write'
      # Uncomment the permissions below if installing in a private repository.
      # contents: read
      # actions: read

    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          egress-policy: 'block'
          disable-sudo: true
          allowed-endpoints: >
            api.github.com:443
            api.deps.dev:443
            api.osv.dev:443
            api.scorecard.dev:443
            api.securityscorecards.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1
        with:
          persist-credentials: false

      - name: 'Run analysis'
        uses: 'ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a' # v2.4.3
        with:
          results_file: 'results.sarif'
          results_format: 'sarif'
          repo_token: '${{ secrets.SCORECARD_TOKEN }}'
          # Public repositories:
          #   - Publish results to OpenSSF REST API for easy access by consumers
          #   - Allows the repository to include the Scorecard badge.
          #   - See https://github.com/ossf/scorecard-action#publishing-results.
          # For private repositories:
          #   - `publish_results` will always be set to `false`, regardless
          #     of the value entered here.
          publish_results: true

      - name: 'Upload artifact'
        uses: 'actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4' # v5.0.0
        with:
          name: 'SARIF file'
          path: 'results.sarif'
          retention-days: 5

      - name: 'Upload to code-scanning'
        uses: 'github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412' # v4.31.7
        with:
          sarif_file: 'results.sarif'
...
