---
name: 'Trivy'
on:  # yamllint disable-line rule:truthy
  schedule:
    - cron: '43 17 * * 4'

  pull_request:
    branches:
      - 'main'

  push:
    branches:
      - 'main'

  workflow_dispatch: {}

permissions: 'read-all'

env:
  # gitleaks image to use to check files prior to uploading them to prevent sensitive data being leaked
  # yamllint disable rule:line-length
  # renovate image dep:
  gitleaks-image: 'ghcr.io/gitleaks/gitleaks:v8.28.0@sha256:cdbb7c955abce02001a9f6c9f602fb195b7fadc1e812065883f695d1eeaba854'
  # yamllint enable rule:line-length

jobs:
  analysis:
    name: 'Trivy'
    runs-on: 'ubuntu-24.04'
    permissions:
      security-events: 'write'

    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a' # v2.13.1
        with:
          disable-sudo: true
          egress-policy: 'block'
          allowed-endpoints: >
            *.cloudfront.net
            api.github.com:443
            ghcr.io:443
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            pkg-containers.githubusercontent.com:443
            public.ecr.aws:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8' # v5.0.0
        with:
          persist-credentials: false

      - name: 'Scan repository with Trivy'
        uses: 'aquasecurity/trivy-action@f9424c10c36e288d5fa79bd3dfd1aeb2d6eae808' # 0.33.0
        env:
          TRIVY_DB_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-db'
          TRIVY_JAVA_DB_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-java-db'
          TRIVY_CHECKS_BUNDLE_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-checks'
        with:
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-results.sarif'
          trivy-config: 'trivy.yaml'

      - name: 'Scan trivy-results.sarif to ensure it contains no secrets'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          docker run -v ./trivy-results.sarif:/scan "${{ env.gitleaks-image }}" detect --source "/scan" --no-git || {
            echo "ERROR: Secret found, failing workflow";
            exit 1;
          };

      - name: 'Upload artifact'
        uses: 'actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4' # v5.0.0
        with:
          name: 'Trivy SARIF file'
          path: 'trivy-results.sarif'
          retention-days: 5

      - name: 'Upload to code-scanning'
        uses: 'github/codeql-action/upload-sarif@3599b3baa15b485a2e49ef411a7a4bb2452e7f93' # v3.30.5
        with:
          sarif_file: 'trivy-results.sarif'
...
