---
name: 'Trivy'
on:  # yamllint disable-line rule:truthy
  schedule:
    - cron: '43 17 * * 4'

  pull_request:
    branches:
      - 'main'

  push:
    branches:
      - 'main'

  workflow_dispatch: {}

permissions: 'read-all'

env:
  # gitleaks image to use to check files prior to uploading them to prevent sensitive data being leaked
  # yamllint disable rule:line-length
  # renovate image dep:
  gitleaks-image: 'ghcr.io/gitleaks/gitleaks:v8.30.0@sha256:691af3c7c5a48b16f187ce3446d5f194838f91238f27270ed36eef6359a574d9'
  # yamllint enable rule:line-length

jobs:
  analysis:
    name: 'Trivy'
    runs-on: 'ubuntu-24.04'
    permissions:
      security-events: 'write'

    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76' # v2.14.0
        with:
          disable-sudo: true
          egress-policy: 'block'
          allowed-endpoints: >
            *.cloudfront.net
            api.github.com:443
            ghcr.io:443
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            pkg-containers.githubusercontent.com:443
            public.ecr.aws:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1
        with:
          persist-credentials: false

      - name: 'Scan repository with Trivy'
        uses: 'aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8' # 0.33.1
        env:
          TRIVY_DB_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-db'
          TRIVY_JAVA_DB_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-java-db'
          TRIVY_CHECKS_BUNDLE_REPOSITORY: 'public.ecr.aws/aquasecurity/trivy-checks'
        with:
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-results.sarif'
          trivy-config: 'trivy.yaml'

      - name: 'Scan trivy-results.sarif to ensure it contains no secrets'
        shell: 'bash'
        run: |
          # fail if:
          # - a variable is unbound
          # - any command fails
          # - a command in a pipe fails
          # - a command in a sub-shell fails
          set -Eeuo pipefail

          # enable debug if runner runs in debug
          [[ "${{ runner.debug }}" -ne 1 ]] || {
            echo "INFO: Enabling bash trace";
            set -x;
          };

          docker run -v ./trivy-results.sarif:/scan "${{ env.gitleaks-image }}" detect --source "/scan" --no-git || {
            echo "ERROR: Secret found, failing workflow";
            exit 1;
          };

      - name: 'Upload artifact'
        uses: 'actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4' # v5.0.0
        with:
          name: 'Trivy SARIF file'
          path: 'trivy-results.sarif'
          retention-days: 5

      - name: 'Upload to code-scanning'
        uses: 'github/codeql-action/upload-sarif@1b168cd39490f61582a9beae412bb7057a6b2c4e' # v4.31.8
        with:
          sarif_file: 'trivy-results.sarif'
...
